
.admin-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #fff;
    overflow: hidden;
    color: black;
}

.main-content {
    margin-top: 1.8%;
    margin-left: 300px;
    padding: 20px;
    flex-grow: 1;
    margin-right: 50%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .checkbox-group {
    display: flex;
    gap: 15px;
  }
  
  .duration-container {
    display: flex;
    gap: 10px;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .algoritmo-btn {
    background-color: #4CAF50;
    color: white;
  }
  
  .save-btn {
    background-color: #2196F3;
    color: white;
  }
  
  .test-btn {
    background-color: #FFC107;
    color: black;
  }
  
  .remove-btn {
    background-color: #F44336;
    color: white;
  }